<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="UTF-8">
    <title>Bookstore - Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div data-th-replace="~{fragments/navbar :: header}"></div>

<div class="register-container">
    <h2>რეგისტრაცია</h2>
    <form id="registerForm">
        <div class="form-group">
            <label>მომხმარებლის სახელი</label>
            <input type="text" id="username" placeholder="ჩაწერეთ მომხმარებლის სახელი">
            <div id="username-error" class="input-error" style="color: red;
             font-size: 0.85rem; margin-top: 4px; display: none;"></div>
        </div>
        <div class="form-group">
            <label>პაროლი</label>
            <input type="password" id="password" placeholder="შეიყვანეთ ძლიერი პაროლი">
            <div id="password-error" class="input-error" style="color: red; font-size: 0.85rem; margin-top: 4px; display: none;"></div>
        </div>
        <div class="form-group">
            <label>ტელეფონის ნომერი</label>
            <input type="tel"  id="phoneNumber" placeholder="ჩაწერეთ თქვენი ტელეფონის ნომერი">
            <div id="phoneNumber-error" class="input-error" style="color: red; font-size: 0.85rem; margin-top: 4px; display: none;"></div>
        </div>
        <div class="form-group">
            <label>ელ-ფოსტა</label>
            <input type="text"  id="email" placeholder="ჩაწერეთ თქვენი ელ-ფოსტა">
            <div id="email-error" class="input-error" style="color: red; font-size: 0.85rem; margin-top: 4px; display: none;"></div>
        </div>

        <div id="messageBox" style="margin-bottom: 15px; font-weight: bold;"></div>
        <button type="submit" class="btn-submit">რეგისტრაცია</button>
    </form>

    <p>
        <a th:href="@{/login}">უკვე გაქვთ ანგარიში? შესვლა</a>
    </p>

</div>
<script src="/js/register.js"></script>
</body>
</html>